.footer-container {
  width: 100%;
  padding: 1rem;
  text-align: center;
  
  margin-top: 2rem;
  background-color: var(--segundary-color);
  color: var(--color-text);
  font-size: 0.9rem;
}

.footer-text {
  margin: 0.2rem 0;
}

.footer-text a {
  color: #1b6fb9;
  text-decoration: none;
  font-weight: bold;
}

.footer-text a:hover {
  text-decoration: underline;
}